// COLORS

$button_color: #E21D24;

$white_color: #fff;

$black_color: #000;

$primary_color: #333;

$link_color : #E21D24;

$border_color : #e6e6e6;

$grey_color : #999999;


// FONT SIZES

$font_sm: 0.6rem;

$font_normal: 1rem;

$font_md: 1.1rem;

$font_lg: 1.51rem;


// FONT FAMILY 

$primary_family : 'Roboto',
sans-serif;
;

$title_family: 'Playfair Display', serif;